.container{
  background-color: var(--background-green) ;
}

.home {
  max-width: 1281px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 90vh;
  overflow: hidden;
  width: 100%;
  padding: 0px 50px 0px 50px;
  
  
}

@media screen and (max-width: 1024px) {
  .home{
    height: 90vh;
    
  }
}
  
.content {
  width: 50%;
  flex-direction: column;  
  
}

@media screen and (max-width: 1024px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 0px;
  }
}
  
.content h1{
  color: var(--title);
  font-size: 5rem;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  margin: 0; 
}
  
.content h2{
  color: var(--text);
  font-size: 2.2rem;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
  margin: 0;
  text-align: center;
 
}
  
.image {
  width: 50%;
  
}

@media (max-width:900px) {
    .home {
      flex-direction: column;
      justify-content: center;
    }
    .content h1 {
      font-size: 8vw;
    }
    .content h2 {
      font-size: 5vw;
    }
    .image {
      width: 100%;
      
    }
    .buttons{
        justify-content: center;
        width: 100%;       
    }
    .header h3{
      border-bottom: solid 3px #019fb6;  
    }
    .buttons h3:hover::after{
      transform: scaleX(0);  
    }
    
}
  @media (max-width:800px) { 
    .content h1{
      font-size: 5rem; 
    } 
    .content h2{   
      font-size: 1.8rem; 
       
    }
  }
  
  @media (max-width:500px) {
    
    .content h1{
      font-size: 4rem; 
    }
  
    .content h2{   
      font-size: 1.5rem; 
      
    }
    .header{
        width: 100%;
       
        
    }
    .buttons h3{
        font-size: 1.4rem;
        width: 100%;
    }
  }
  
  @media (max-width:325px){
    .content h1{
      font-size: 3rem; 
    }
  
    .content h2{   
      font-size: 1.5rem; 
      
    }
  }